* {
  padding: 0;
  margin: 0;
  font-family: 'venticf-medium'; }

@font-face {
  font-family: 'venticf-medium';
  src: local("VentiCF-Medium.otf"), url("../fonts/VentiCF-Medium.otf") format("opentype"); }
@font-face {
  font-family: 'venticf-bold';
  src: local("VentiCF-Bold.otf"), url("../fonts/VentiCF-Bold.otf") format("opentype"); }
@font-face {
  font-family: 'venticf-ultra';
  src: local("VentiCF-Ultra.otf"), url("../fonts/VentiCF-Ultra.otf") format("opentype"); }
.header .navigation {
  width: 1040px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header .navigation .logo {
    background-color: red; }
  .header .navigation .menu ul {
    list-style: none;
    display: flex; }
    .header .navigation .menu ul li a {
      display: block;
      padding: 30px;
      font-size: 1.4em;
      color: #fff;
      text-decoration: none; }
      .header .navigation .menu ul li a:hover {
        background-color: darkblue; }
      .header .navigation .menu ul li a:nth-child(1) {
        background-color: red; }
      .header .navigation .menu ul li a:nth-child(2) {
        background-color: green; }

.slide {
  background-color: purple;
  height: 400px; }

.articles {
  padding: 50px 0; }
  .articles header {
    text-align: center;
    margin-bottom: 40px; }
    .articles header .title {
      font-size: 3em;
      font-family: 'venticf-bold'; }
    .articles header .description {
      font-size: 1.2em; }
  .articles .articles-inner {
    display: flex;
    max-width: 1040px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap; }
    .articles .articles-inner .article {
      text-align: center;
      flex-basis: calc(100% / 3 - 20px);
      padding-bottom: 30px;
      border-radius: 5px;
      transition: all .5s;
      text-decoration: none;
      color: #000; }
      .articles .articles-inner .article .featured-image {
        width: 100%;
        border-radius: 5px; }
      .articles .articles-inner .article .tag {
        position: relative;
        padding: 10px;
        margin: 20px 0 20px;
        height: 20px; }
        .articles .articles-inner .article .tag::before {
          content: '';
          position: absolute;
          top: 50%;
          margin-top: -3px;
          left: 20px;
          width: calc(100% - 40px);
          border-top: 2px solid #ccc;
          z-index: 1; }
        .articles .articles-inner .article .tag span {
          background-color: darkblue;
          color: #fff;
          padding: 10px;
          position: relative;
          z-index: 2;
          border-radius: 5px; }
          .articles .articles-inner .article .tag span::before {
            content: '';
            height: 100%;
            background: #fff;
            width: 10px;
            position: absolute;
            top: 0;
            left: -10px; }
          .articles .articles-inner .article .tag span::after {
            content: '';
            height: 100%;
            background: #fff;
            width: 10px;
            position: absolute;
            top: 0;
            right: -10px; }
      .articles .articles-inner .article .title {
        font-size: 1.4em;
        margin: 10px 0;
        font-family: 'venticf-bold'; }
      .articles .articles-inner .article .info {
        font-size: 1em;
        color: #666; }
      .articles .articles-inner .article:hover {
        box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.3); }
        .articles .articles-inner .article:hover .featured-image {
          border-radius: 5px 5px 0 0; }

.news {
  margin: 50px 0 50px;
  padding: 0 0 100px; }
  .news header {
    text-align: center;
    margin-bottom: 40px; }
    .news header .title {
      font-size: 3em;
      font-family: 'venticf-bold'; }
    .news header .description {
      font-size: 1.2em; }
  .news .news-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1040px;
    margin: 0 auto; }
    .news .news-inner .news-item {
      flex-basis: calc(100% / 3 - 20px);
      margin-bottom: 40px; }
    .news .news-inner .featured-image {
      width: 100%;
      border-radius: 5px; }
    .news .news-inner .title {
      font-family: 'venticf-bold';
      font-size: 1.6em;
      line-height: 1;
      margin: 10px 0 20px;
      text-align: center; }
    .news .news-inner .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0; }
      .news .news-inner .info .category {
        display: inline-block;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: .8em;
        font-weight: bold;
        color: #fff; }
      .news .news-inner .info .gray {
        background-color: gray; }
      .news .news-inner .info .green {
        background-color: green; }
      .news .news-inner .info .blue {
        background-color: blue; }
      .news .news-inner .info .orange {
        background-color: orange; }
      .news .news-inner .info .purple {
        background-color: purple; }
    .news .news-inner .excerpt {
      color: #666;
      margin-top: 10px; }
    .news .news-inner footer {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .news .news-inner footer .author .text {
        font-size: 1em; }
      .news .news-inner footer .author .name {
        font-family: 'venticf-bold';
        font-size: 1.2em; }
      .news .news-inner footer .read-more {
        font-family: 'venticf-bold';
        font-size: 1.2em;
        color: #000;
        border: 2px solid #000;
        padding: 10px 30px;
        border-radius: 50px;
        display: inline-block;
        text-decoration: none;
        transition: all .5s; }
        .news .news-inner footer .read-more:hover {
          background-color: #000;
          color: #fff; }

@media screen and (max-width: 600px) {
  .articles .articles-inner .article,
  .news .news-inner .news-item {
    flex-basis: 100%;
    margin: 0 20px 30px; }

  .header .navigation, .news .news-inner {
    width: 100%; }

  .header .navigation .logo {
    margin-left: 20px; }

  .header .navigation .menu ul li a {
    padding: 10px 20px; } }
/*.featured {
	margin: 50px auto;
	display: flex;
	justify-content: space-between;
	width: 1040px;
	.featured-news {
		flex: 2;
	}
	.video {
		flex: 1;
		background-color: red;
	}
}*/

/*# sourceMappingURL=style.css.map */
